html {
  margin: 0;
  padding: 0;
  color: #D2B48C;
  background-color: #895129;
}

table, th, tr, td {
  border: 2px solid #D2B48C;
}

h1 {
  text-align: center;
}

#header-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#cookies, #cps {
  display: block;
}

